<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="fa"
      dir="rtl"
      th:attr="lang=${#locale.language}, dir=${#locale.language == 'fa' ? 'rtl' : 'ltr'}">
<head>
    <title th:text="#{orderItem.title}"></title>
    <th:block th:replace="~{orderItem/fragments/head-tag :: head-tag}"></th:block>
</head>
<body>

<div>
    <span class="val-err" th:if="${#fields.hasErrors()}" th:each="err : ${#fields.allErrors()}" ></span>

</div>

<form id="orderItemForm" th:object="${orderItem}" th:action="@{/newOrderItems.html}" th:method="POST">
    <div class="modal-body">
        <input type="hidden" id="orderItemId">
        <div class="mb-3">
            <label th:text="#{orderItem.orderItems.product}"></label>
            <input type="text" class="form-control" id="product" name="product">
            <span class="val-err" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></span>
        </div>
        <div class="mb-3">
            <label th:text="#{orderItem.orderItems.order}"></label>
            <input type="text" class="form-control" id="order" name="order">
            <span class="val-err" th:if="${#fields.hasErrors('order')}" th:errors="*{order}"></span>
        </div>

    </div>
    <button type="submit" class="btn btn-primary" id="saveOrderItem">
        <span th:text="#{orderItem.orderItems.save}"></span>
    </button>
</form>

<th:block th:replace="~{orderItem/fragments/scripts :: scripts}"></th:block>
<button onclick="orderItemFetchData()">Click</button>


<script th:src="@{js/orderItemFetchScript.js}"></script>

<script>

</script>
</body>
</html>