<div th:fragment="product-modal">
    <div class="modal fade" id="productModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{product.products.modal.title}"></h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="productForm">
                    <div class="modal-body">
                        <input type="hidden" id="productId">
                        <div class="mb-3">
                            <label th:text="#{product.products.name}"></label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="mb-3">
                            <label th:text="#{product.products.brand}"></label>
                            <input type="text" class="form-control" id="brand" required>

                        </div>

<!--                        <div class="mb-3">-->
<!--                            <label th:text="#{products.serialNumber}"></label>-->
<!--                            <input type="text" class="form-control" id="serialNumber">-->
<!--                        </div>-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <span th:text="#{product.products.cancel}"></span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <span th:text="#{product.products.save}"></span>
                        </button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>